<html>
<head>
  <title> S.S.J. Package Tracker - Staff </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
  
  <!-- This is the div for heading of the pronect -->
<div class="heading">
  <h2> Welcome, our Staff Member! </h2>
</div>

<!-- This is the div for the button element -->
  <div style="text-align:center;" class="main">
    <a href="dispatchDroneStaff" style="text-decoration:none; color:white"><button class="button button-dispatch-drone"> Dispatch Drone </button></a> <br>
    <a href="checkPackageStaff" style="text-decoration:none; color:white"><button class="button button-check-package-info"> Check Package Information </button></a> <br>
    <a href="checkStatusStaff" style="text-decoration:none; color:white"><button class="button button-check-status"> Check Status </button></a> <br>  
    <a href="pickUpPackage" style="text-decoration:none; color:white"><button class="button button-check-status"> Pick Up Package </button></a> <br> 
    <a href="mongoPackage" style="text-decoration:none; color:white"><button class="button button-check-status"> Pick Up Package via Mongo Drone </button></a> <br> 
    <a href="dropPackage" style="text-decoration:none; color:white"><button class="button button-check-status"> Drop Off Package </button></a> <br> 
  </div>
</body>
</html>