<html>
<head>
  <title> S.S.J. Package Tracker - Customer </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<div>
  <form method="POST">
    <input type="text" name="packageID" id="packageID" placeholder="Please Enter your Package ID">
    <input type="submit" value="Submit">
  </form>
</div>
  <!-- This is the div for heading of the pronect -->
<!-- <div class="heading">
  <h2> Your package has been delivered. Thanks for choosing SSJ </h2>
</div> -->
  
  <!-- This was the form element of the page -->
<!-- <div class="form">
  <form>
    <label class="container">
    <input type="radio" checked="checked" name="radio">Staff
    <span class="checkmark"></span>
    </label><br>
    
    <label class="container">
    <input type="radio" name="radio">Customer
    <span class="checkmark"></span>
    </label><br>
  </form>
</div> -->

<!-- This is the div for the button element -->
  <!-- <div style="text-align:center;" class="main">
    <a href="index-customer-delivery-status.html"><button class="button button-delivery-status"> Check your Delivery Status </button></a> <br>
    
    <a href="#"><button class="button button-order-delivery-request"> Order Delivery Request </button></a>
  </div> -->
</body>
</html>