<html>
<head>
  <title> S.S.J. Package Tracker </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
  
  <!-- This is the div for heading of the pronect -->
<div class="heading">
  <h1> S.S.J. Package Tracker </h1>
</div>
  
  <!-- This was the form element of the page -->
<!-- <div class="form">
  <form>
    <label class="container">
    <input type="radio" checked="checked" name="radio">Staff
    <span class="checkmark"></span>
    </label><br>
    
    <label class="container">
    <input type="radio" name="radio">Customer
    <span class="checkmark"></span>
    </label><br>
  </form>
</div> -->

<!-- This is the div for the button element -->
  <div style="text-align:center;" class="main">
    <button class="button button-one"><a href="customer" style="text-decoration:none; color:white"> Customer </a></button>
    
    <button class="button button-two"><a href="staff" style="text-decoration:none; color:white"> Staff </a></button>
  </div>
</body>
</html>